.header{
	width: 100%;
	background: rgba(0,0,0,0.8);
	overflow: auto;
	text-align: center;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.header li{
	float: left;
	cursor: pointer;
}
.header li a{
	display: inline-block;
	padding: 20px 30px;
	color: #fff;
	text-decoration: none;
}
.header li a.active{
	color: #ffc049;
	text-decoration: underline;
	font-size: 18px;
}
.header li a:hover{
	color: #ffc049;
}

/*媒体查询兼容手机端*/
@media screen and (max-width: 480px) {
    .header li a {
        padding: 20px 15px;
        font-size: 12px;
    }
    .header li a.active{
		font-size: 16px;
	}
}