body{
	background: url("../images/bg.png");
	color: #666;
}
.content{
	width: 60%;
    margin-left: 20%;
}
.top_gif,.bottom_gif{
	width: 100%;
	position: relative;
	height: 120px;
}
.gif_left{
	position: absolute;
	top: 100px;
	left: -100px;
	width: 100px;
}
.gif_right{
	position: absolute;
	top: 100px;
	right: -100px;
	width: 100px;
}
.bottom_gif .gif_left{
	top: 10px;
}
.bottom_gif .gif_right{
	top: 10px;
}
.content h3{
	font-size: 30px;
	padding: 30px 0;
    text-align: center;
}
.content p{
	text-indent: 40px;
	line-height: 30px;
	font-size: 16px;
}

/*媒体查询兼容手机端*/
@media screen and (max-width: 480px) {
	.gif_left{
		top: 60px;
		left: 20px;
	}
	.gif_right{
		top: 60px;
		right: 20px;
	}
	.content{
		width: 90%;
		margin-left: 5%;
	}
    .content h3{
    	font-size: 20px;
		padding: 30px 0;
		line-height: 30px;
    }
}