body{
	background: url('../images/index.png') no-repeat;
	background-size: cover;
}
.mask{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
.content_box{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.content{
	width: 50%;
    height: 200px;
    margin-left: 25%;
    margin-top: 3%;
    position: relative;
    text-align: center;
    background: url(../images/float_icon.png) no-repeat;
    background-position: 52% 0;
    padding-top: 250px;
}
.content img{
	width: 160px;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
}


/*媒体查询兼容手机端*/
@media screen and (max-width: 480px) {
    .content{
        width: 88%;
    	background-size: contain;
        margin-left: 6%;
        margin-top: 20%;
    }
}